name: Stale PR Auto-rebaser

on:
  workflow_dispatch:

  push:
    branches-ignore:
      - rebase-pull-request**
      - cherry-pick-rebase-pull-request**

  pull_request:
    types: [labeled]

jobs:
  auto-rebase:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    name: AutoRebase
    steps:
      - name: Generate GitHub App Token
        uses: actions/create-github-app-token@d72941d797fd3113feb6b93fd0dec494b13a2547 # v1.12.0
        id: app-token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}
          repositories: ${{ github.repository.name }}
      - uses: Label305/AutoRebase@e2bf9fd616286d8feddcaba773a8f2ea9011c745 # v0.1
        with:
          github_token: ${{ steps.app-token.outputs.token }}
