name: Check for new releases

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0

      - name: Check app build number
        id: check
        run: |
          set -exuo pipefail
          CURRENT_VERSION="$(cat .version)"
          LATEST_BUILD_ID="$(curl -fSsL https://api.steamcmd.net/v1/info/2394010 | jq -r '.data["2394010"].depots.branches.public.buildid')"

          echo "build-id=$LATEST_BUILD_ID" >> $GITHUB_OUTPUT

          if [ "$CURRENT_VERSION" != "$LATEST_BUILD_ID" ]; then
            echo -n "${LATEST_BUILD_ID}" > .version
            echo "new-release=true" >> $GITHUB_OUTPUT
          fi

      - name: Setup GPG
        if: steps.check.outputs.new-release == 'true'
        id: import-gpg
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          git_config_global: true
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Save changes to repo
        if: steps.check.outputs.new-release == 'true'
        run: |
          git commit --signoff -m "Update to build ${{steps.check.outputs.build-id}}" -m "${{steps.check.outputs.build-id}}" .version
        env:
          GIT_AUTHOR_NAME: ${{ steps.import-gpg.outputs.name }}
          GIT_AUTHOR_EMAIL: ${{ steps.import-gpg.outputs.email }}
          GIT_COMMITTER_NAME: ${{ steps.import-gpg.outputs.name }}
          GIT_COMMITTER_EMAIL: ${{ steps.import-gpg.outputs.email }}

      - name: Generate GitHub App Token
        uses: actions/create-github-app-token@d72941d797fd3113feb6b93fd0dec494b13a2547 # v1.12.0
        id: app-token
        if: steps.check.outputs.new-release == 'true'
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}
          repositories: ${{ github.repository.name }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        id: cpr
        if: steps.check.outputs.new-release == 'true'
        with:
          token: ${{ steps.app-token.outputs.token }}
          branch: automated/launcher-update
          delete-branch: true
          title: Palworld Server ${{steps.check.outputs.build-id}}
          body: Build ${{steps.check.outputs.build-id}}
          labels: |
            update
            chore
            automated pr
            autorebase:opt-in

      - name: Automerge Pull Request
        if: steps.check.outputs.new-release == 'true' && (steps.cpr.outputs.pull-request-operation == 'created' || steps.cpr.outputs.pull-request-operation == 'updated')
        run: gh pr merge --rebase --auto "$PR_NUMBER"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
          PR_NUMBER: ${{ steps.cpr.outputs.pull-request-number }}
